%h1 Chat Room

#messages
  =render @messages
%br
%form
  %label Say Something
  %br
  .form-group
    %input{type: 'text', class:'form-control'}
%br

%hr
#container
  %form
    %input#address{:name => "address", :type => "text", :value => "658071"}/
    %input{:name => "button", :type => "submit", :value => "Find"}/
  %br
  %textarea{:style => "width: 100%; height: 200px;"}