// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages{
  width: 100%;
  height: 200px;
  border:1px solid;
  overflow-y: auto;
  padding: 15px 20px;

}